/* font styles */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  height: 20000px;
}

.div {

}

/* Header section styles starts here*/
/* Banner styles */
.banner-container{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  height: 652px;
  /* border: 2px solid red; */
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 74px;
  background-image: url('../images/assets/Hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.banner-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 998px;
  height: 582px;
  margin: 0 auto;
  /* border: 2px solid red; */

  
}

.banner-content img{
  display: flex;
  justify-content: center;
  width: 140px;
  height: 136px;
  margin-top: 26px;
  
}

.banner-content h1{
  width: 998px;
  height: 136px;
  color: rgb(13, 19, 33);
  font-size: 48px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  margin: 24px 0px;
  
}

.banner-content p{
  width: 852px;
  height: 52px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  font-size: 16px;
  opacity: 0.7;
  margin: 24px 0px;
}

.banner-content button{
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  width: 208px;
  height: 66px;
  flex-direction: row;
  background-color: rgb(13, 19, 33);
  padding: 21px 24px 21px 24px;
  margin: 32px 0px;
  border-radius: 8px
}
/* Header section styles ends here*/

/* Web dev. section style starts here */

.web-dev-container{
  width: 1140px;
  height: 1395px;
  /* margin: 857px 152px 2993px 148px; */
  margin: 0px auto;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 80px 97px 80px 97px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.02);

} 
.div-style{
  text-align: center;
  width: 1000px;
  position:absolute;
  top:800px;
  padding-top: 40px;

}

.web-dev-content-1{
width: 852px;
height: 39px;
flex-direction: column;
margin: 24px 0px;
margin: 0px auto;
color: rgb(13, 19, 33);
font-size: 32px;
font-weight: 800;
text-align: center;
display: block;
}

.web-dev-content-div-1{
  position:absolute;
  top:1000px;
  display:flex;
  justify-content: space-between;
  width:850px;
  background-color: white;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-dev-text-container h3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  margin: 16px 0px;
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
 }

 .web-dev-text-container p{
  width: 468px;
  height: 52px;
  margin: 16px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  opacity: 0.7;
  text-align: left;
 }

.web-dev-text-container button{
  width: 150px;
  height: 48px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 20px 12px 20px;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
  margin: 32px 0px;
  font-size: 15px;
  font-weight: 600;
  
}

.web-dev-text-container a {
  text-decoration-line: none;
}

.web-dev-img-container{
  width: 260px;
  height: 217px;
 
}

.web-dev-content-div-2{
  position:absolute;
  top:1300px;
  display:flex;
  justify-content: space-between;
  width: 946px;
  height: 336px;
  margin: 32px 0px;
  padding: 48px;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

.web-dev-content-div-3{
  position:absolute;
  top:1800px;
  display:flex;
  justify-content: space-between;
  width:850px;
  background-color: white;
  background: linear-gradient(270.00deg, rgb(255, 255, 255),rgba(255, 255, 255, 0) 100%);
}

/* Web dev. section style ends here */

/* Second section style starts here */

.second-section-container{
position: absolute;
width: 1140px;
height: 777px;
left: 148px;
right: 152px;
top: 2250px;
bottom: 2128px;
/* border: 2px solid red; */
margin: 0 auto;
margin-bottom: 500px;
}

.second-section-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}


.second-section-content-1 {
  height: 39px;
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  display:inline-block;
  justify-content: center;
  margin: 24px 0px;
}

.second-section-content-2{
  width: 852px;
  height: 52px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 24px 0px;
  

} 

.second-section-content-3{
  width: 1140px;
  height: 614px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
 
  
  
}

.second-section-content-3 iframe{
  width: 1076px;
  height: 550px;
  margin: 10px 0px;
  border-radius: 16px;
}

/* Second section style ends here */

/* Third section style starts here */

.third-section-container{
  position: relative;
  top: 900px;
  left:0px;
  width: 1140px;
  height: 600px;
  margin: 0 auto;
  margin-top: 111px;
  display: flex;
  flex-direction: row;
  /* border: 2px solid red; */
}

.current-target-title {
  margin: 0 auto;
  margin-left: 100px;
  height: 175px;
}

.current-target-title h2 {
  width: 852px;
  height: 37px;

  font-size: 32px;
  font-weight: 800;
}

.current-target-title p {
  width: 852px;
  height: 40px;
  opacity: 0.7;
  font-size: 16px;
  font-weight: 400;
  margin: 24px 0px;

}

.cards {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
  border-radius: 16px;
  gap: 24px;
  height: 300px;
  box-sizing: border-box;
  /* border: 1px solid ; */
  position: relative;

  right: 955px;
  top: 200px;

}

.content {
  box-sizing: border-box; 
  /* border: 1px solid ; */
  border-radius: 16px;

}

.content img {
  margin: 24px;

}

.content h3 {
  width: 284px;
height: 36px;
font-size: 24px;
font-weight: 800;
text-align: left;
}

.content p {
  width: 284px;
height: 52px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 8px 0px;
opacity: 0.7;
font-size: 16px;
font-weight: 400;
}

.content a {
  width: 284px;
height: 19px;
flex-direction: column;
justify-content: flex-start;
align-items: flex-start;
margin: 0 auto;
margin: 24px;
font-size: 16px;
font-weight: 700;
line-height: 19px;

}


.html-card {
  height: 300px;
  padding: 40px;
  background-color: rgba(255, 76, 30, 0.05);;
}

.css-card {
  height: 300px;
  padding: 40px;
  background-color: rgba(0, 76, 232, 0.05);;
}

.js-card {
  height: 300px;
  padding: 40px;
  background-color: rgba(255, 223, 0, 0.05);;

}
 
/* Third section styles ends here */

/* Fourth section styles starts here */
.support-container {
  position: relative;
  top: 850px;
  left: 0px;
  width: 1140px;
  height: 313px;
  margin: 0 auto;
  margin-top: 111px;
  display: flex;
  flex-direction: row;
  padding: 64px 48px 64px 48px;
  border: 2px solid red;
  background-image: url('../images/assets/handshake.jpg');
  background-color: rgba(0, 0, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;

}

.support-content {
  width: 1044px;
height: 185px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 32px 0px;


}

.support-content h2 {
  color: white;
  width: 292px;
height: 36px;
font-size: 32px;
font-weight: 700;
margin-top: 20px;
margin-bottom: 20px;
}

.support-content p {
  color: white;
  width: 606px;
  height: 52px;
    opacity: 0.7;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
 
    
}

.feedback {
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    


}


.feedback input {
  width: 548px;
  height: 57px;
  text-align: left;
  padding: 12px 24px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);


}

.feedback button {
  padding: 12px 24px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: rgb(13, 19, 33);
    

}

.feedback button:hover {
  color:green;
  cursor: pointer;
  
}

/* Fourth section styles ends here */

/* Footer style start here */

.background{
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer{
  position: absolute;
  width: 1440px;
height: 100px;
left: 650px;
top: 4100px;
  margin: 48px auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0;
  background-color: rgba(13, 19, 33, 0.03);
}

.footer h3{
  width: 300px;
height: 23px;
}

.footer div{
  display: flex;
  gap: 20px;
  align-items: center;
}

/* Footer style ends here */